#features {
  padding: 2rem 0;
  background-image: url("../images/feature-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .features-section {
    .texts {
      text-align: center;
      margin-bottom: 50px;
      h1 {
        font-size: 36px;
        color: #fff;
        font-weight: 600;
      }
      p {
        font-size: 14px;
        color: #fff;
        font-weight: 300;
      }
    }
    .features-boxes {
      display: flex;
      justify-content: center;
      gap: 30px;
      flex-wrap: wrap;
      .features-box {
        width: 300px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        a {
          font-weight: 600;
          font-size: 18px;
          transition: all 0.5s;
          color: #222;
          i {
            margin-right: 8px;
          }
          &:hover {
            color: #8abcf2;
          }
        }
        p {
          font-weight: 300;
          font-size: 14px;
          color: #7777;
        }
      }
    }
  }
}

#brand {
  padding: 2rem 0;
  margin-top: 40px;
  .brand {
    @include flexbox(center);
    gap: 30px;
    text-align: center;
    .brand-box {
      width: 200px;
      //   background-color: #222;
      img {
        width: 50%;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .brand {
      flex-direction: column;
    }
  }
  @media (min-width: 481px) and (max-width: 767px) {
    .brand {
      flex-direction: column;
    }
  }
  @media (min-width: 320px) and (max-width: 480px) {
    .brand {
      flex-direction: column;
    }
  }
}
