.container {
  max-width: 1200px;
  margin: 0 auto;

  @media screen and (max-width: 1199px) {
    padding: 0 5%;
  }
}

body {
  &.showCard {
    .cardTab {
      right: 0;
      transition: all 0.8s;
    }
  }
}
